<footer class="footer">
    <nav class="navbar bg-dark navbar-dark" style="color: white; margin-top:4px;">
    <div class="container">
        
        <p style="margin-left:425px;">All rights reserved. COMP229 - Midterm Test</p>
    
    </div>
</nav>
</footer>
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script>
    var getTitle = "<%= title %>";
</script>
<script src="/javascripts/app.js"></script>    
</body>
</html>