<!--
File Name - index.ejs
Student Name - Pratiksinh Makwana
Student ID - 301219863
Date - 28-02-2022
-->

<% include partials/header.ejs %>

  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>


<% include partials/footer.ejs %>
